
{% extends 'base.html' %}

{% block content %}

<div class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="{{ url_for('admin.dashboard') }}">JDM Admin</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        
        <!-- Navbar Search-->
        <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        </div>
        
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i> {{ current_user.full_name }}</a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{{ url_for('home') }}">Return to Site</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" href="{{ url_for('admin.dashboard') }}">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        
                        <div class="sb-sidenav-menu-heading">Management</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseUsers" aria-expanded="false" aria-controls="collapseUsers">
                            <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                            Users
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseUsers" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="{{ url_for('admin.users') }}">All Users</a>
                                <a class="nav-link" href="{{ url_for('admin.add_user') }}">Add New User</a>
                            </nav>
                        </div>
                        
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCars" aria-expanded="false" aria-controls="collapseCars">
                            <div class="sb-nav-link-icon"><i class="fas fa-car"></i></div>
                            Cars
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseCars" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="{{ url_for('admin.cars') }}">All Cars</a>
                                <a class="nav-link" href="{{ url_for('admin.add_car') }}">Add New Car</a>
                                <a class="nav-link" href="{{ url_for('admin.loan_cars') }}">Loan Cars</a>
                            </nav>
                        </div>
                        
                        <a class="nav-link" href="{{ url_for('admin.bookings') }}">
                            <div class="sb-nav-link-icon"><i class="fas fa-calendar-check"></i></div>
                            Bookings
                        </a>
                        
                        <a class="nav-link" href="{{ url_for('car_admin.manage_loan_cars') }}">
                            <div class="sb-nav-link-icon"><i class="fas fa-calendar-check"></i></div>
                            Manage Car for Loan
                        </a>

                        <a class="nav-link" href="{{ url_for('admin.payments') }}">
                            <div class="sb-nav-link-icon"><i class="fas fa-money-bill-wave"></i></div>
                            Payments
                        </a>

                        
                        <a class="nav-link" href="{{ url_for('contact.admin_messages') }}">
                            <div class="sb-nav-link-icon"><i class="fas fa-envelope"></i></div>
                            Contact Messages
                        </a>
                        
                        <div class="sb-sidenav-menu-heading">Content</div>
                        <a class="nav-link" href="{{ url_for('admin.edit_about_us') }}">
                            <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                            About Us Page
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    {{ current_user.full_name }}
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                {% block admin_content %}{% endblock %}
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; JDM Car Rentals 2023</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    // Activate the sidebar toggle
    window.addEventListener('DOMContentLoaded', event => {
        // Toggle the side navigation
        const sidebarToggle = document.body.querySelector('#sidebarToggle');
        if (sidebarToggle) {
            sidebarToggle.addEventListener('click', event => {
                event.preventDefault();
                document.body.classList.toggle('sb-sidenav-toggled');
                localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
            });
        }
    });
</script>
{% endblock %}